
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to "VACHIRAVIT", root_path %></h3>

    <ul class="nav masthead-nav">

      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">About me</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Album</a>
      </li>
    </ul>
  </div>
</div>