<div class="inner cover">
  <h1 class="cover-heading">Vachiravit Varojananuluck</h1>

  <p class="lead">Portfolio</p>

  <p class="lead"><a class="btn btn-lg btn-info" href="#">Find out
    more</a></p>
</div>