<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div id="background"></div>

      <%= render "shared/application_nav" %>

      <%= render "shared/middlehomepagecontent" %>



    </div>
  </div>
</div>